{% load static %}
<div class="container py-5">
  <div class="row justify-content-center my-5">
    <div class="col-lg-8 text-center">
        <h2 class="text-white mb-4">Features</h2>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col-md-6 mb-4">
      <div class="card bg-dark text-white d-flex flex-column">
        <!-- <img class="card-img-top" src="{% static 'images/shapes/blurry-shape-4.svg' %}" alt="Feature image"> -->
        <div class="card-body flex-fill">
          <h5 class="card-title">Coding</h5>
          <p class="card-text">Give </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card bg-dark text-white d-flex flex-column">
        <!-- <img class="card-img-top" src="{% static 'images/shapes/blurry-shape-4.svg' %}" alt="Feature image"> -->
        <div class="card-body flex-fill">
          <h5 class="card-title">Error Fixing</h5>
          <p class="card-text">Our built-in tools helasdfasdfsadf asdfasdfasdf p you detect and fix errors with ease.</p>
        </div>
      </div>
    </div>
  </div>
</div>