{% load static %}
<div class="container py-5">
    <h2 class="mb-5 text-center">Integrations</h2>
    <p class="text-center">Connect your agents to <strong>any</strong> api.</p>
    <!-- <style>
        .integration {
          text-align: center;
          cursor: pointer;
        }
      
        .integration:hover {
          background-color: #f1f1f1;
        }
      
        .integrations-img {
            width: 75px;
            display: block;
            margin: 0 auto
        }
      </style>
        <div class="row">
            <div class="col-md-4" >
                <img
                  width="50px"
                  src="{% static 'images/integrations/github.png' %}"
                  class="integrations-img"
                />
            </div>
            <div class="col-md-4" >
                <img
                  width="50px"
                  src="{% static 'images/integrations/honeybadger.png' %}"
                  class="integrations-img"
                />
            </div>
            <div class="col-md-4" >
                <img
                  width="50px"
                  src="{% static 'images/integrations/railway.png' %}"
                  class="integrations-img"
                />
            </div>
        </div> -->
</div>