<div class="container py-5">
    <h1 class="mb-5 text-center"><span class="text-primary-dark">Pear</span> Does More</h1>
    <p style="color: #9798AA; text-align: center;">
        As software engineers, we do a lot more than code. Here is what else Pear can help you with:
    </p>

    <div class="row mt-4">
        <!-- Box for Fixing Bugs -->
        <div class="col-md-4">
            <div class="card text-center">
                <i class="fas fa-bug fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Bug Fixes</h5>
                    <p class="card-text">Who enjoys being on-call? Pear integrates with any observability service and can fix the bugs for you. </p>
                </div>
            </div>
        </div>

        <!-- Box for Reviewing Pull Requests -->
        <div class="col-md-4">
            <div class="card text-center">
               <i class="fas fa-code-branch fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Pull Requests Reviews</h5>
                    <p class="card-text">Pear can easily review pull requests, provide feedback, and answer any questions directly in GitHub.</p>
                </div>
            </div>
        </div>

        <!-- Box for Compliance Reviews -->
        <div class="col-md-4">
            <div class="card text-center">
                <i class="fas fa-gavel fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Security and Compliance Reviews</h5>
                    <p class="card-text">Pear monitors your code for security and compliance violations.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-center">
                <i class="fa-solid fa-magnifying-glass-plus fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Test Cases</h5>
                    <p class="card-text">Pear will read your code and write test cases for you.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <i class="fa-solid fa-plus fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Custom</h5>
                    <p class="card-text">You can integrate with any 3rd party service and build custom workflows. </p>
                </div>
            </div>
        </div>
    </div>
</div>
