<div class="container py-5">
    <h2 class="mb-5 text-center">Use Cases</h2>
    <p style="color: #9798AA; text-align: center;">
        As software engineers, we do a lot more than code. With <span class="text-primary-dark">Pear</span>, you can build agents that:
    </p>

    <div class="row mt-4">
        <!-- Box for Fixing Bugs -->
        <div class="col-xs-6 col-md-4">
            <div class="card text-center">
                <i class="fas fa-bug fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Fix Bugs</h5>
                    <!-- <p class="card-text">Connect your observability service and Pear will read, understand, and fix any bugs.</p> -->
                </div>
            </div>
        </div>

        <!-- Box for Reviewing Pull Requests -->
        <div class="col-md-4">
            <div class="card text-center">
               <i class="fas fa-code-branch fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Review Pull Requests</h5>
                    <!-- <p class="card-text">Connect GitHub so Pear can review pull requests, leave comments, and propose changes.</p> -->
                </div>
            </div>
        </div>

        <!-- Box for Compliance Reviews -->
        <div class="col-md-4">
            <div class="card text-center">
                <i class="fa-solid fa-shield-halved fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Check for Vulnerabilities</h5>
                    <!-- <p class="card-text">Pear will tell you if your code follows standard security protocols.</p> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <i class="fa-solid fa-magnifying-glass-plus fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Write Tests</h5>
                    <!-- <p class="card-text">Create</p> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <i class="fas fa-gavel fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Check for Compliance</h5>
                    <!-- <p class="card-text">Pear will tell you if your code follows standard security protocols.</p> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <i class="fa-solid fa-plus fa-2x mt-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Anything You Want</h5>
                    <!-- <p class="card-text">You can integrate with any 3rd party service and build custom workflows. </p> -->
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
