{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/terminal.css' %}">
{% endblock %}
<!-- <div class="container py-5"> -->
  <!-- <h2 class="mb-5 text-center">Coding Agent Example</h2> -->
  <div class="terminal" id="terminal">
    <div class="top-bar">
        <div class="mac-icons">
          <div class="mac-icon green"></div>
          <div class="mac-icon yellow"></div>
          <div class="mac-icon red"></div>
        </div>
        <div class="tab-container">
          <div class="tab text-align-center">myproject/</div>
        </div>
    </div>
    <div id="content">
      <pre id="output"></pre>
      <div class="input-line">
        <div class="spinner" id="spinner"></div>
        <span class="prompt" id="prompt"></span>
      </div>
    </div>
  </div>
<!-- </div> -->
{% block extra_js %}
<script>
const commands = [
  { text: "> pear-on agent dashboard-builder", type: "user-input" },
  { text: "requirements:", type: "system-prompt" },
  { text: "build a dashboard where users can create and view credit cards. we need to add the model, controller, and views.", type: "user-input" },
  { type: "spinner-start" },
  { type: "spinner-stop" },
  { text: "generating model and migration", type: "system-command" },
  { type: "spinner-start" },
  { type: "spinner-stop" },
  { text: "runnning migration", type: "system-command" },
  { type: "spinner-start" },
  { type: "spinner-stop" },
  { text: "generating controller and views", type: "system-command" },
  { type: "spinner-start" },
  { type: "spinner-stop" },
  { text: "writing to app/controllers/credit_cards_controller.rb", type: "system-command" },
  { type: "spinner-start" },
  { type: "spinner-stop" },
  { text: "writing to app/views/credit_cards/index.html", type: "system-command" },
  { type: "spinner-start" },
  { type: "spinner-stop" },
  { text: "writing to config/routes.rb", type: "system-command" },
  { type: "spinner-start" },
  { type: "spinner-stop" },
  { text: "Assistant: The dashboard is complete and can be viewed at localhost:8000/credit_cards. Is there anything else I can help you with today?", type: "assistant-response" },
  { text: "Yes, please change the background color to green", type: "user-input" },
  { type: "spinner-start" },
  { type: "spinner-stop" },
  { text: "writing to app/assets/stylesheets/application.css", type: "system-command" },
  { type: "spinner-start" },
  { type: "spinner-stop" },
  { text: "Assistant: I have updated the background color to green. Is there anything else I can help you with today?", type: "assistant-response" },
];
const typingDelay = 50;
const commandDelay = 1000;
const runningDelay = 1000; 
let currentCommandIndex = 0;
let commandProgress = 0;

function typeCommand() {
  const output = document.getElementById('output');
  let currentCommand = commands[currentCommandIndex];
  var scrollableDiv = document.getElementById("content");
  scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
  if (currentCommand.type == "spinner-start") {
    document.getElementById('spinner').classList.remove('hidden');
    document.getElementById('prompt').textContent = 'running';
    currentCommandIndex++;
    setTimeout(function() {
      typeCommand();
    }, runningDelay);
    return
  } else if (currentCommand.type == "spinner-stop") {
    document.getElementById('spinner').classList.add('hidden');
    document.getElementById('prompt').textContent = '';
    currentCommandIndex++;
    typeCommand();
    return
  }
      
  let currentSpan = document.createElement('span');
  currentSpan.classList.add(currentCommand.type);
  // Iterate over all characters
  for(let i = 0; i < currentCommand.text.length; i++) {
    setTimeout(function() {
      currentSpan.textContent += currentCommand.text[i];
      // Append the whole command span to output
      if (i === 0) {
        output.appendChild(currentSpan);
      }
      // Move to the next command
      if (i === currentCommand.text.length - 1) {
        if (currentCommandIndex < commands.length - 1) {
          output.appendChild(document.createElement('br'));
          currentCommandIndex++;
          typeCommand();
        } else {
          // output.appendChild(document.createElement('br'));
          // document.getElementById('spinner').classList.remove('hidden');
          // document.getElementById('prompt').textContent = 'running';
          // setTimeout(endRunningState, runningDelay);
        }
      }
    }, typingDelay * i);
  }
}

function endRunningState() {
  document.getElementById('spinner').classList.add('hidden');
  document.getElementById('prompt').textContent = '';
  const p = document.createElement('p');
  p.textContent = '> dashboard has been completed';
  document.getElementById('output').appendChild(p);
  const htmlSnippet = `
  <html>
  <head>
      <title>My Dashboard</title>
  </head>
  <body>
      <h1>Welcome to my Dashboard!</h1>
  </body>
  </html>`;
  const pre = document.createElement('pre');
  pre.textContent = htmlSnippet;
  document.getElementById('output').appendChild(pre);
}

document.getElementById('spinner').classList.add('hidden');
setTimeout(typeCommand, 2000)
</script>
{% endblock %}