{% extends 'admin/change_form.html' %}
{% load humanize %}

{% block after_related_objects %}
    <div class="messages-section">
        <h2>Messages</h2>
        <ul>
        {% for coder_message in coder_messages %}
            <li>
            <span{% if coder_message.role == 'assistant' %} style="background-color: #838300;"{% endif %}><strong>{{ coder_message.role }}</strong></span>
            {% if coder_message.role == 'user' %}
                <code>{{ coder_message.content }}</code>
            {% elif coder_message.role == 'function' %}
                <code>{{ coder_message.function_name }}</code>
                <code>{{ coder_message.content }}</code>
            {% elif coder_message.command is not None %}
                <code>{{ coder_message.command.command }}</code>
                <code>{{ coder_message.command.arguments }}</code>
                {% if coder_message.command.command == "write_file" %}
                    <pre style="background-color: #5e5e5e"><code >{{ coder_message.command.arguments.content }}</code></pre>
                {% endif %}
            {% else %}
                <code>{{ coder_message }}</code>
            {% endif %}
            </li>
        {% empty %}
            <li>No messages</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
