.terminal {
  width: 90%;
  margin: 50px auto;
  border-radius: 5px;
  font-size: 1rem;
}

#content {
  word-wrap: break-word;  /* Internet Explorer 5.5+ */
  overflow-y: scroll;
  padding-bottom: 30px;
  height: 250px;
  border: solid 1px #fff;
  padding: 20px;
}

#output {
  color: #7FDBFF;
}

.input-line {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 5px;
  color: #2ECC40;
}

.spinner {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

.user-input {
  color: #ffffff;
  white-space: initial;
}

.system-prompt {
  color: #7FDBFF;
  white-space: initial;
}

.system-command {
  color: #808080;
  white-space: initial;
}

.assistant-response {
  color: #7FDBFF;
  white-space: initial;
}

.top-bar {
  background-color: #333;
  /* padding: 5px; */
  /* border-bottom: solid 1px #fff; */
  display: flex;
  align-items: center;
}

.tab {
  display: inline-block;
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.mac-icons {
  display: flex;
}

.mac-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  display: flex;
}

.green {
  background-color: #92c110; /* Green color */
}

.yellow {
  background-color: #fbbc05; /* Yellow color */
}

.red {
  background-color: #f14336; /* Red color */
}
.tab-container {
  display: flex;
}





