{% extends "dashboard_layout.html" %}
{% block content %}

<div class="container">
    <h3>Agents<h3></h3>
    <!-- <p>Now you can create recipes to run specific tasks</p> -->
    <a href="/dashboard/recipes/new"><button class="btn btn-primary">Create New Agent</button></a>
    <br>
    <br>
    <br>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Recipe</th>
            <th>Prompt</th>
            <!-- <th>Actions</th> -->
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
            <td><a href="/dashboard/recipes/edit/{{recipe.recipe}}">{{ recipe.recipe }}</td></a>
            <td>{{ recipe.config.prompt }}</td>
            <!-- <td>
                <ul class="list-unstyled">
                {% for function in recipe.config.functions %}
                    <li>{{ function }}</li>
                {% endfor %}
                </ul>
            </td> -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}