{% extends "base_generic.html" %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Create a New Recipe</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label>You will run <code>pear-on recipe RECIPE_NAME</code></label>
                <input type="text" name="{{ form.recipe.name }}" value="{{ form.recipe.value|default:'' }}" maxlength="30" class="form-control" required placeholder="Recipe Name" />
            </div>
            <span>When you run your recipe you will have the option to input "requirements"</span>
            <br>
            <code>pear-on recipe RECIPE_NAME</code>
            <br>
            <code>requirements: </code>
            <br>
            <span>You can use "requirements" and your app's context in the prompt</span>
            <div class="mb-3">
                <textarea rows=3 type="text" name="{{ form.prompt.name }}" class="form-control" required placeholder="Example:&#10Review the file in <<REQUIREMENTS>>&#10Information about my app <<CONTEXT>>" >{{ form.prompt.value|default:'' }}</textarea>
            </div>
            <label>Select the actions you want Pear to take</label>
            {{ form.actions }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
