{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<!-- Navbar -->
<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container'>
    <a class='navbar-brand' href='/'>Pear Programmer</a>
    <ul class='navbar-nav ms-auto'>
      <li class='nav-item'>
        <a class='nav-link' href='/signup'>Signup/Login</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Pear Programmer section -->
<div class="container">
  <section id='pear-programmer' class='py-5 text-center'>
    <p>The first, <b>truly conversational and automated</b> coding assistant</p>
    <img src="{% static 'images/homepage_image.png' %}" alt='Pear Programmer' class='img-fluid mb-4 pear-programmer-image'>
    <p>Just give Pear a series of tasks and it will complete them in the background while you browse Reddit or check crypto prices. It will build entire features for you.</p>
  </section>

  <section>
    <div class="text-center">
      <h2>Watch the Demo</h2>
      <iframe width="400" height="315" src="https://www.youtube.com/embed/QExJGvWufr4?vq=hd720" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </section>
  <br>
  <!-- README section -->
  <section>
    <h2 class="text-center">Getting Started</h2>
    <div id='readme' class=''>
      <div class='container'>
        <div class='row'>
          <div class='col'>
            <div id='markdown-container'>{{ readme_content|linebreaksbr }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/5.0.3/marked.min.js" integrity="sha512-tY0a7V2POoK3yCE59YTVrDvm+ytFfS3GeFJhiP+0m5dxEurii+KGSwsRyrnSqhGP/eth6i63VeTuCSVwusySAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/readme_md_renderer.js' %}"></script>
{% endblock %}
{% block extra_css %}
<style>
    .pear-programmer-image {
        max-height: 300px;
        width: auto;
    }
    @media (max-width: 768px) {
        .pear-programmer-image {
            max-height: 200px;
            width: auto;
        }
    }
</style>
{% endblock %}
{% endblock %}
